[['APP_NAME'], ['DB_HOST', 'DB_NAME', 'DB_USER', 'DB_PASS'], 'APP_NAME=Hospital Management System\nAPP_ENV=local\nAPP_KEY=\nAPP_DEBUG=true\nAPP_URL=http://localhost\n\nDB_CONNECTION=mysql\nDB_HOST=127.0.0.1\nDB_PORT=3306\nDB_NAME=hospital_db\nDB_USER=root\nDB_PASS=']